/* Coolors Exported Palette - coolors.co/ff0035-7ac74f-fbe162-a1cf6b-d5d887 */

/* HSL */
$color1: hsla(348%, 100%, 50%, 1);
$color2: hsla(99%, 52%, 55%, 1);
$color3: hsla(50%, 95%, 68%, 1);
$color4: hsla(88%, 51%, 62%, 1);
$color5: hsla(62%, 51%, 69%, 1);

/* RGB */
$color1: rgba(255, 0, 53, 1);
$color2: rgba(122, 199, 79, 1);
$color3: rgba(251, 225, 98, 1);
$color4: rgba(161, 207, 107, 1);
$color5: rgba(213, 216, 135, 1);

// #FF0035 Carmine Red
// #7AC74F Mantis
// #FBE162 Grain Yellow
// A1CF6B Pistachio
// #D5D887 Spring Bud
